{% extends "layout/base.html" %}

{% block title %}Анализ файла{% endblock %}


{% block content %}
    <h3>Загрузите текстовый файл</h3>
    <form action="{% url 'index' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Загрузить</button>
    </form>

    {% if frequency %}
        <h3> Результат анализа </h3>
        <table>
            <tr>
              <th>Слово</th>
              <th>tf</th>
              <th>idf</th>
            </tr>
            {% for key, value in frequency.items %}
            <tr>
              <td>{{ key }}</td>
              <td>{{ value.0 }}</td>
              <td>{{ value.1 }}</td>
            </tr>
            {% endfor %}
          </table>
          
    {% endif %}
{% endblock %}